* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    line-height: 1.5;
}
.header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.header nav a:hover {
    text-decoration: underline;
}
.poster {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: gray;
    font-size: 100px;
    height: 500px;
}
.information {
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.item {
    width: calc(50% - 10px);
    background-color: rgb(247, 243, 243);
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
}
.large {
    width: calc(100% - 10px);
}
@media screen and (max-width: 1024px) {
    .item {
        width: calc(100% - 10px);
    }
}